<header class="minimal">
  <dl>
      <dt><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></dt>
      <dd style="display:none"></dd>
  </dl>
    <div class="share_buttons header min sb-iconic">
    <a class="sbutton contrast min b-twitter" title="Twitter" href="{{site.data.social_profiles.twitter}}">
        <i aria-hidden="true"></i>
        <span>Twitter</span>
    </a>
    <a class="sbutton contrast min b-facebook" title="Facebook" href="{{site.data.social_profiles.facebook}}">
        <i aria-hidden="true"></i>
        <span>Facebook</span>
    </a>
    <a class="sbutton contrast min b-gplus" title="Google+" href="{{site.data.social_profiles.google}}">
        <i aria-hidden="true"></i>
        <span>Google+</span>
    </a>
    <a class="sbutton contrast min b-github" title="GitHub" href="{{site.data.social_profiles.github}}">
        <i aria-hidden="true"></i>
        <span>Google+</span>
    </a>
    <a class="sbutton contrast min b-email" title="email" href="mailto:?to={{site.data.social_profiles.email}}&amp;subject=Site_Feedback:{{page.url | absolute_url}}">
        <i></i>
        <span>Email</span>
    </a>
    </div>
</header>


