---
layout: got_dyn
menucontext: got
title: "GoT theories - overview"
pagination:
  enabled: true
  permalink: '/got-theories/page:num/'
  sort_field: modified
  sort_reverse: true
  per_page: 10
  tag: first
  collection: got-theories
---
{% include paginator_header.html %}
<p>This is a list of theories about the next and final season of Game of Thrones. While the premiere 
of season 8 lies at least one year (possibly more) in the future, there is already a lot of activity 
in the GoT community, even though we all have our personal *Jon Snow* in us, because <strong>we know 
nothing</strong>.</p>

<p>
Theories are forged, discussing the fate of the remaining main cast and the possible outcome of the 
two major wars which have yet to be fought. Some of them are more believable and plausible than 
others, but most open up interesting perspectives on the show's final season.
</p>

{% include content/got-spoiler-warning.md %}
<br>
<div class="spoiler_header" data-saveable data-target="got-theory-spoiler">Spoiler content, click to 
reveal (this choice will be saved to a Cookie).</div>
<div id="got-theory-spoiler" class="blog-index hideable">
    {% for post in paginator.posts %}
    {% include paginator_body.html showspoiler=1 %}
    {% endfor %}
    {% include paginator_trail.html %}  
</div>

