<h3 style="margin: 10px 0 0 0;">{{ post.title }}</h3>
<div class="author" style="font-size:smaller; float:right;">
    Written by {{post.author}}{% if post.categories %}{% for cat in post.categories %}{% if forloop.first %}&nbsp;in&nbsp;{% endif %}<a href="{{site.baseurl}}/category/{{cat | strip | strip_html | downcase}}/index.html">{{cat | strip | strip_html}}</a>{% unless forloop.last %},&nbsp;{% endunless %}{% endfor %}{% endif %} | <time class="timeago" datetime="{{post.date | date: '%Y-%m-%dT%H:%M:%S%z'}}">{{post.date}}</time>
</div>
<div class="clearfix"></div>
<hr class="separator">
<div class="content">
  <p style="margin: 0 0 0 0;">{{ post.excerpt | markdownify }}</p>
</div>
<div style="float:right;">
  <a href="{{site.baseurl}}{{post.url}}">Read more...</a>
</div>
<div class="clear"></div>
<br>
