{% if post.spoiler and post.spoiler == 1 and include.showspoiler != 1 %}
<div class="spoiler_header" data-target="{{post.slug}}">Spoiler content, click to reveal.</div>
<div id="{{post.slug}}" style="display:none;">
{% endif %}
{% assign words = post.content | number_of_words %}
<a href="{{post.url}}"><h3 class="listheading" style="margin: 10px 0 0 0;">{{ post.title }}</h3></a>
<div class="author" style="float:right;text-align:right;">
    Last modified: <time class="timeago" datetime="{{post.modified | date: '%Y-%m-%dT%H:%M:%S%z'}}">{{post.modified}}</time><br>{{words}} Words
</div>
<div class="author">
    Written by {{post.author}}{% if post.categories %}{% for cat in post.categories %}{% if forloop.first %}&nbsp;in&nbsp;{% endif %}<a href="{{site.baseurl}}/category/{{cat | strip | strip_html | downcase}}/index.html">{{cat | strip | strip_html}}</a>{% unless forloop.last %},&nbsp;{% endunless %}{% endfor %}{% endif %} | {{post.date | date: '%a, %d. %B %Y, %H:%M'}}<br>
    Reading time: approx. {{words | divided_by: 275}} minute(s)
</div>
<div class="clearfix"></div>
<hr class="separator">
<div class="content excerpt" style="margin-bottom: 4px;">
  {% if post.image and post.image != '' %}
  {% if post.image_link and post.image_link == 1 %}
    {% assign this_nolink = 0 %}
  {% else %}
    {% assign this_nolink = 1 %}
  {% endif %}
  {% include gfx/float_image.html image=post.image align=post.image_align width=post.image_width title=post.image_title borderclass="borderless" omitbottomcaption=1 nolink=this_nolink %}
  {% endif %}
  {{ post.excerpt | markdownify }}
</div>
<div style="float:right">
  <a href="{{site.baseurl}}{{post.url}}">Read more...</a>
</div>
{% for tag in post.tag %}
    {% if tag == 'first' %}
        {% continue %}
    {% endif %}
    <a class="tag" href="{{site.baseurl}}/tags/{{tag || downcase}}">{{tag}}</a>
{% endfor %}
<div class="clear"></div>
{% if post.spoiler and post.spoiler == 1 and include.showspoiler != 1 %}
</div>
{% endif %}
<br>
