<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=12' | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css?v=12' | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/prettyPhoto.css?v=1' | relative_url }}" media="screen" type="text/css">
    <script type="text/javascript" src="{{ site.baseurl}}/assets/js/jquery.js?v=14 }}"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
  </head>
  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title }}</h1>
        </a>
        <h2>{{ site.description }}</h2>
        <a href="https://github.com/silvercircle/silvercircle.github.io" class="button"><small>Follow me on</small> GitHub</a>
      </div>
    </header>
     <div class="menubar_wrapper">
	     <div class="menubar">
	       <div class="menu">
	           <a href="{{site.baseurl}}/">Home</a>
	       </div>
           <div class="menu">
               <a href="{{site.baseurl}}/help/about.html">About</a>
           </div>
           <div class="menu">
               <a href="{{site.baseurl}}/blog/index.html">Blog</a>
           </div>
           <div class="menu">
               <a href="{{site.baseurl}}/help/contact.html">Contact</a>
           </div>
	     </div>
     </div>
    