<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="{{ site.site-verification}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=14' | relative_url }}" media="screen" type="text/css">
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.js?v=14"></script>
    <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/favicon.png?">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  {% seo %}
  </head>
  <body>
    <div id="cookiewarning" style="display:none;">
        This website may make use of cookies to enhance browsing experience and provide additional functionality. None of this data can or will be used to identify or contact you.<br>
        By clicking Allow cookies you give your permission to this website to store small bits of data on your device.
        <div style="float:right;" id="allow_cookies">
          <a href="#">Got It! (Allow cookies)</a>
        </div>
    </div>
    <header>
      <div class="inner">
          <dl>
          <dt><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></dt>
          <dd>{{ site.description }}</dd>
        </dl>
        <a href="https://github.com/silvercircle/silvercircle.github.io" class="button"><small>Follow me on</small> GitHub</a>
      </div>
    </header>
     <div class="menubar_wrapper">
      <div class="inner clearfix">
          <div id="google-custom-search" style="max-width: 250px;float:right;height: 26px;">
              <script type="text/javascript">
                (function() {
                  var cx = '007859790308151113940:p-knqr4rpv0';
                  var gcse = document.createElement('script');
                  gcse.type = 'text/javascript';
                  gcse.async = true;
                  gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(gcse, s);
                })();
              </script>
              <script type="text/javascript">
                document.write("<gcse:searchbox-only resultsUrl='/search.html'></gcse:searchbox-only>");
              </script>
              </div>
      <nav>
          {% include menus/{{ include.menu }}.html custom_menu=include.custom_menu %}
      </nav>
      </div>
     </div>
    
