<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="{{ site.site-verification}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/theme.css?v=13' | relative_url }}" media="screen" type="text/css">
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.js?v=14"></script>
    <link rel="shortcut icon" type="image/png" href="/favicon.png?">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  {% seo %}
  </head>
  <body>
    <header>
      <div class="inner">
        <dl>
          <dt><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></dt>
          <dd>{{ site.description }}</dd>
        </dl>
        <a href="https://github.com/silvercircle/silvercircle.github.io" class="button"><small>Follow me on</small> GitHub</a>
      </div>
    </header>
     <div class="menubar_wrapper">
      <div class="inner clearfix">
      <nav>
	     <div id = "main_menu">
         <ul id="menu_nav" class="dropmenu menu">
            <li id="button_home" class="{% if page.menucontext == 'home' %}active{% endif %}">
                <a class="firstlevel" href="{{site.baseurl}}/">Home</a>
           </li>
           <li id="button_about" class="{% if page.menucontext == 'about' %}active{% endif %}">
              <a class="firstlevel" href="{{site.baseurl}}/help/about.html">About</a>
          </li>
          <li id="button_blog" class="{% if page.menucontext == 'blog' %}active{% endif %}">
              <a class="firstlevel" href="{{site.baseurl}}/blog/index.html">Blog</a>
              <span onclick="onMenuArrowClick($(this));" style="display:inline-block;" id="_blog" class="m_downarrow">&nbsp;</span>
              <ul style="display:none;">
              {% for category in site.categories %}
               <li><a href="{{site.baseurl}}/category/{{ category | first | strip_html | downcase}}/"><span>{{ category | first | strip_html }}</span></a></li>
              {% endfor %}
              </ul>
           </li>
           <li id="button_contact" class="{% if page.menucontext == 'contact' %}active{% endif %}">
              <a class="firstlevel" href="{{site.baseurl}}/help/contact.html">Contact</a>
           </li>
           <li id="button_topics" class="{% if page.menucontext == 'topics' %}active{% endif %}">
              <a class="firstlevel" href="{{site.baseurl}}/topics.html">Topics</a>
              <span onclick="onMenuArrowClick($(this));" style="display:inline-block;" id="_topics" class="m_downarrow">&nbsp;</span>
              <ul style="display:none;">
                <li>
                  <a href="{{site.baseurl}}/software/"><span>Software</span></a>
                </li>
                <li>
                  <a href="{{site.baseurl}}/webdev/"><span>Web development</span></a>
                </li>
                <li>
                  <a href="{{site.baseurl}}/category/development/"><span>Development</span></a>
                </li>
              </ul>
            </li>
        </ul>
       </div>
      </nav>
      </div>
     </div>
    
