/*
 * these styles should only be used in content via markdown, not in templates
 */
.c_red {
    color: $red;
}

.two_cols {
    column-count: 2;
    column-gap: 30px;
    padding-bottom: 20px;
}
.two_cols p:last-child {
    margin-bottom: 0;
}

.c_green {
    color: $green;
}

.c_blue {
    color: $blue;
}

.c_pleft { padding-left: 30px !important; }
.c_pright { padding-right: 30px !important; }
.c_bleft { border-left: 3px solid $lightgrey; }
.c_bright { border-right: 3px solid $lightgrey; }

.note {
    margin-left: -30px;
    border-radius: 0 4px 4px 0;
    border: 1px solid white;
    padding: 5px 20px 0 20px;
    box-shadow: 2px 2px 4px #ccc;
    margin-bottom: 15px;
    box-sizing: content-box;
}

.note.red {
    background: #f2e1f2;
    background: linear-gradient(to bottom, #f2e1f2 0%,#f9ccea 100%);
}

.note.blue {
    background: #e1ffff;
    background: linear-gradient(to bottom, #e5ffff 0%,#c8e7f7 100%);
}

.note p, .note li {
    margin: 0 20px 10px 20px;
    font-family: $sans_font, sans-serif !important;
    font-size: 11pt !important;
    line-height: 130% !important;
}

.note h3.alert::before {
    font: normal normal normal 14pt/1 FontAwesome;
    content: '\f129' !important;
    min-width: 20px;
    color: red; 
    box-sizing: content-box;
    display: inline-block;
    margin-left: -5px !important;
    margin-right: 5px !important;
}

.note.red h3.alert::before {
    content: '\f071' !important;
}

.note h3 {
    font-size: 14pt !important;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0 !important;
    margin-bottom: 10px;
    margin-top: 0 !important;
    color: #555 !important;
}

.note.got-theory-footer {
    margin-left: 0;
}

div.contentbox {
    box-sizing: border-box;
    margin: 0;
    padding: 0 10px;
    width: 33.33333333%;
    float: left;
}

div.boxcontainer {
    width: auto;
    margin-left: -10px;
    margin-right: -10px;
}

div.boxcontainer h3.sidebar_listheader {
    margin-top: 5px !important;
}

div.contentbox_inner {
//    border: 1px solid red;
    font-size: smaller;
}

h3.cbox_header {
    display:block;
    background-color: black;
    color: white !important;
    text-align: center;
    margin: 0 !important;
    font-size: $h3_listheader_size !important;
    padding: 0 10px 5px 10px;
}

div.cbox_body {
    border-top: 0;
    padding: 1px 10px;
    margin: 0;
    min-height: 280px !important;
}

div.floatbox {
    margin: 1.2em 20px 1.2em 20px;
    padding: 0 10px;
    border-left: 2px solid #FF4500;
    border-right: 2px solid #FF4500;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

div.floatbox.left {
    float:left;
    margin-left: 0;
    padding-left: 0;
    border-left: none;
}

div.floatbox.right {
    float: right;
    padding-right: 0;
    border-right: none;
    margin-right: 0;
}

div.floatbox.ruled {
    border: 2px solid #ff4500;
    border-left: none;
    border-right: none;
    padding: 3px;
}

div.floatbox p, div.floatbox li {
    font-family: $sans_font, sans-serif !important;
    font-size: $floatbox_fontsize !important;
    color: $floatbox_color !important;
    line-height: 120% !important;
}

div.floatbox p:last-child, div.floatbox li:last-child {
    margin-bottom: 0 !important;
}

.smallindent {
    text-indent: 10px !important;
}

blockquote.fancy {
  display:block;
  background: #fff;
  padding: 0 20px 0 45px;
  margin: 0;
  position: relative;
  /*Borders - (Optional)*/
  border: 0;
}

blockquote.fancy.bordered {
    border-left: 5px solid orange;
    margin-left: 20px;
}
blockquote.fancy::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  margin: 0;

  /*Positioning*/
  position: absolute;
  left: 5px;
  top:-15px;
}

blockquote.fancy::after{
  /*Reset to make sure*/
  content: "";
}
.galleryitem {
    width:33.3333333333%;
    margin: 0;
    float: left;
    box-sizing: border-box;
    padding: 5px;
}
.galleryitem img {
/*    width: auto;
    height: 100%;
    max-height:100%;*/
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 2px 2px #ccc;
}

div.gallery_imgwrapper {
    width: auto;
    height: 0;
    padding-bottom: 56.25%;
    position:relative;
}
div.gallery {
    width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1039px) {
    div.contentbox {
        width: 50%;
    }
    .galleryitem {
        width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    div.contentbox {
        width: 100%;
    }
    .galleryitem {
        width: 100%;
    }
    .two_cols {
        column-count: 1;
    }
}

