div.clear {
    clear: both;
}

figure.highlight {
    margin: 0 5px 1em 0;
    box-shadow: 0 0 2px #bbb;
}

figure.highlight pre {
    margin: 0;
    padding: 0;
    border: none;
    margin-right: 5px;
}

td.code {
    text-align:left;
    width:100%;
}

.highlight table pre {
    padding:4px;
}

.highlight table td {
    padding: 0 5px;
}

pre table, pre td {
    border: none;
}

.highlight td.gutter, pre.lineno {
    background-color:#e5e5e5;
    border-right: 2px solid #aaa;
}

hr.blueline {
    color: orangered;
    height: 1px;
    border: none;
    background-color: orangered;
}

hr.separator {
    margin-top: 8px;
    height: 3px;
    box-shadow: 0 0 2px 2px #aaa;
}

div.ytcontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
iframe.yt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar_listheader {
    font-weight:normal !important;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
    font-size: #{$author_font_size + 1}px !important;
    font-family: $sans_font !important;
    text-indent: 0 !important;
    line-height: 1.2 !important;
}

h3.sidebar_listheader:first-child {
    margin-top: 2px !important;
}

h3.listheading {
    color: $title_color !important;
    text-indent: 10px !important;
}

#sidebar h2 {
    margin: 0 -10px 5px -10px;
    padding: 5px 10px 5px 10px;
    background: #e5e5e5;
}

#cookiewarning {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: 10px 30px;
    background-color: yellowgreen;
    z-index: 1000;
}

#allow_cookies {
    border-radius: 3px;
    border: 1px solid white;
    background-color: black;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 1001;
    position: relative;
    margin-right: 60px;
}

#allow_cookies a {
    color: white;
}

div.spoiler_header {
    margin-left: 0 20px;
    border-radius: 0 4px 4px 0;
    border: 1px solid white;
    padding: 5px 20px 0 20px;
    box-shadow: 2px 2px 4px #ccc;
    margin-bottom: 15px;
    padding: 5px 10px;
    text-align: justify;
    background: #fcf8d1; /* Old browsers */
    background: linear-gradient(to bottom, #fcf8d1 0%,#ede3a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    cursor: pointer;
}

div.hideable {
    display: none;
}

div.footnotes li, div.footnotes li > p { 
    font-size: $footnotes_fontsize !important;
}

div.footnotes::before {
    content: "______________";
}

div.footnotes ol {
    margin-top: 0;
}

a.tag {
    background: #e1ecf4;
    padding: 0 5px;
    margin-right: 5px;
    border: 1px solid #aae;
    font-size: 12px !important;
    display: inline-block;
    line-height: 150%;
}

div.author, span.author {
    font-size: #{$author_font_size}px !important;
    color: $author_font_color !important;
}

.sidebar{
    will-change: min-height;
}

span.dropcaps {
  font-size: $dropcaps_size !important;
  line-height: $dropcaps_leading !important;
  padding-top: $dropcaps_top_padding !important;
  padding-right: 4px !important;
  font-weight: bold !important;
  vertical-align: center !important;
  float:left !important;
}

div.author.subheader {
    color: $subheader_color !important;
}

.img_overlay_indicator, .tt_closebutton {
    font: normal normal normal 24px/1 FontAwesome !important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 0.93em;
    line-height:27px !important;
    background: rgba(255,255,255,0.7);
    border-radius: 50%;
    min-width: 27px !important;
    text-align: center;
    cursor: pointer;
}
.img_overlay_indicator:before {
    content: "\f05a";
}

.tt_closebutton {
    border-radius: 0;
    position: absolute;
    right: 13px;
    top: -16px;
    background: transparent;
    padding: 0;
    line-height: 24px !important;
    min-width: 24px !important;
    color: orange;
}

.tt_closebutton:before {
    content: "\f2d3";
}

div.img_tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#eEeEc2;
	border-radius:0 0 3px 3px;
	padding:10px;
	border-top: 26px solid black;
	z-index: 9999;
}
div.img_tooltip p:last-child {
    margin-bottom: 0 !important;
}

div.dynbg {
    background: linear-gradient(to right, #000 0, #000 80px, #fff 81px, #fff 100%);
}

div.inner.dynlayout {
/*    width: 1104px;*/
    width: 960px;
}

#main-content.dynlayout {
    width: 920px !important;
}

div.inner.dynvmenu_wrapper {
    /*width: 1184px;*/
    width: 1040px;
}

#content-wrapper.dynbg {
    border-top: none;
    padding-left:80px;
    float:left;
    margin-left:-80px;
}

#vmenu {
    float:left;
    width: 80px;
    height:200px;
    background:black;
}

.vmenu_button {
    font: normal normal normal 48px/1 FontAwesome !important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height:66px !important;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    margin: 2px;
    width: 76px;
    height: 76px;
    color:#ddd;
    position: relative;
}

.vmenu_button label {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
    width: 76px;
    height: 44px;
    font-family: $sans_font;
    color: white !important;
}
.vmenu_button:hover {
    background: rgba(215,215,215,0.5);
}

.vmenu_button:hover {
    color: black !important;
}

.vmenu_button.hamburger:before {
    content: "\f0c9";
}

.vmenu_button.star {
    color: orange;
}
.vmenu_button.star:before {
    content: "\f006";
}

.vmenu_button.tags {
    color: #66f;
}
.vmenu_button.tags:before {
    content: "\f02c";
}

.vmenu_button.links {
    color: #aad;
}

.vmenu_button.links:before {
    content: "\f0c1";
}

.vmenu_button.topic {
    color: #aad;
}

.vmenu_button.topic:before {
    content: "\f02d";
}

.vmenu_button.category {
    color: yellow;
}

.vmenu_button.category:before {
    content: "\f115";
}

aside.sliderbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    float:left;
    display:none;
    background: #444;
    padding: 20px !important;
    overflow-y: auto !important;
    box-sizing: border-box !important;
    min-height: 100px !important;
    z-index: 1010 !important;
}
aside.sliderbar .author {
    color: white !important;
    height: 1.2em !important;
    white-space: nowrap;
    overflow: hidden;
    font-size: #{$author_font_size - 1}px !important;
}

aside.sliderbar a {
    color: yellow !important;
}

aside.sliderbar h3.sidebar_listheader {
    font-family: Oswald !important;
    font-weight: 300 !important;
    line-height: 1.3em !important;
    margin-top: 5px !important;
}
aside.sliderbar h3.sidebar_listheader:first-child {
    margin-top: 0 !important;
}

aside.sliderbar h2 {
    margin-bottom: 10px !important;
}

@media only screen and (min-width: 768px) and (max-width: 1039px) {
    div.inner.dynvmenu_wrapper {
        width: 740px !important;
    }
    #main-content.dynlayout {
        width: 620px !important;
    }
    div.inner.dynlayout {
        width: 660px !important;
    }
}

@media only screen and (max-width: 767px) {
    div.inner.dynlayout {
        width:100% !important;
    }
    div.inner.dynvmenu_wrapper {
        width: 100% !important;
    }
    #main-content.dynlayout {
        width: auto !important;
    }
    #vmenu {
        width: 40px;
        left: 0;
        top: 0;
    }
    #content-wrapper.dynbg {
        margin-left: 40px;
        padding-left: 0;
        float:none;
    }
    div.dynbg {
        background: linear-gradient(to right, #000 0, #000 40px, #fff 41px, #fff 100%);
    }
    .vmenu_button label {
        display:none;
    }

    .vmenu_button {
        font: normal normal normal 24px/1 FontAwesome !important;
        line-height:36px !important;
        border-radius: 2px;
        text-align: center;
        cursor: pointer;
        margin: 2px;
        width: 36px;
        height: 36px;
        color:#ddd;
        position: relative;
    }
    aside.sliderbar {
        width: 0;
        float:left !important;
        border: none !important;
    }
    body {
        background: black;
    }
}

time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 70px;
  height: 4em;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  float:left;
  margin-right: 10px;
  margin-left:-10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: $sans_font;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0;
  color: #fff;
  background-color: black;
  border-bottom: 1px dashed #aaa;
  box-shadow: 0 2px 0 #aaa;
  font-size: 9pt;
}

time.icon em
{
  position: absolute;
  bottom: 0;
  color: black;
  font-size: 10pt;
  font-weight: normal;
}

time.icon span
{
  font-size: 1.7em;
  letter-spacing: -0.05em;
  padding-top: 0.5em;
  color: #2f2f2f;
}

#main-content h1:first-child {
    margin-left: 70px;
}

div.listentry.header {
    background: #eee;
    margin-bottom: 10px;
    padding: 0 10px 5px 0;
    border-bottom: 3px solid #ccc;
}

