@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'),
       url('../fonts/oswald-v14-latin-regular.woff') format('woff');
}
/* oswald-300 - latin 
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'),
       url('../fonts/oswald-v14-latin-300.woff') format('woff'); 
}
*/
