/* paginator trails */
ul.paginator_trail_wrapper {
	margin: 2px auto;
	list-style-type: none;
	padding: 0;
	width:auto;
	display:inline-block;
}

li.paginator_trail {
	float: left;
	border: 1px solid #ccc;
	background-color: #eee;
	list-style-type: none;
	padding: 1px 2px;
	margin-right: 1px;
}

li.paginator_trail a {
    text-decoration: none;
    padding: 0 4px;
    margin: 0;
}

li.paginator_trail.selected {
	background-color: #55d;
	border: 1px solid #aaa;
}

li.paginator_trail.selected a {
	color: white;
}

