	     <div id = "main_menu">
           <ul id="menu_nav" class="dropmenu menu">
               {% if page.backlink != blank %}
               <li id="button_backlink">
                <a class="firstlevel backlink" href="{{page.backlink | absolute_url}}/">&#xf0a8;</a>
               </li>
               {% endif %}
           <li id="button_home" class="{% if page.menucontext == 'home' %}active{% endif %}">
                <a class="firstlevel" href="{{site.baseurl}}/">Home</a>
           </li>
           <li id="button_about" class="{% if page.menucontext == 'about' %}active{% endif %}">
              <a class="firstlevel" href="{{site.baseurl}}/help/about.html">About</a>
              <span onclick="onMenuArrowClick($(this));" style="display:inline-block;" id="_about" class="m_downarrow">&nbsp;</span>
              <ul style="display:none;">
                <li>
                  <a href="{{site.baseurl}}/help/docs"><span>Documentation</span></a>
                </li>
                <li>
                  <a href="{{site.baseurl}}/help/faq/"><span>Site FAQ</span></a>
                </li>
              </ul>
          </li>
          <li id="button_blog" class="{% if page.menucontext == 'blog' %}active{% endif %}">
              <a class="firstlevel" href="{{site.baseurl}}/blog/index.html">Blog</a>
              <!--<span onclick="onMenuArrowClick($(this));" style="display:inline-block;" id="_blog" class="m_downarrow">&nbsp;</span>
              <ul style="display:none;">
              {% for category in site.categories %}
               <li><a href="{{site.baseurl}}/category/{{ category | first | strip_html | downcase}}/"><span>{{ category | first | strip_html }}</span></a></li>
              {% endfor %}
              </ul>
              -->
           </li>
           <li id="button_contact" class="{% if page.menucontext == 'contact' %}active{% endif %}">
              <a class="firstlevel" href="{{site.baseurl}}/help/contact.html">Contact</a>
           </li>
           <li id="button_topics" class="{% if page.menucontext == 'topics' %}active{% endif %}">
              <a class="firstlevel" href="{{site.baseurl}}/topics.html">Topics</a>
              <span onclick="onMenuArrowClick($(this));" style="display:inline-block;" id="_topics" class="m_downarrow">&nbsp;</span>
              <ul style="display:none;">
                <li>
                  <a href="{{site.baseurl}}/software/"><span>Software</span></a>
                </li>
                <li>
                  <a href="{{site.baseurl}}/webdev/"><span>Web development</span></a>
                </li>
                <li>
                  <a href="{{site.baseurl}}/category/development/"><span>Development</span></a>
                </li>
                <li>
                  <a href="{{site.baseurl}}/tabsrmm/"><span>TabSRMM / Miranda</span></a>
                </li>
                <li>
                  <a href="{{site.baseurl}}/got-theories/"><span>Game of Thrones</span></a>
                </li>
              </ul>
          </li>
          {% if include.custom_menu != blank %}
              {% include menus/custom/{{ include.custom_menu }}.html %}
          {% endif %}
        </ul>
       </div>

