---
---
@charset "UTF-8";

@font-face {
  font-family: "Monda";
  font-style: normal;
  font-weight: 400;
  src: local("Monda Bold"), local("Monda-Bold"), url("https://fonts.gstatic.com/s/monda/v4/uCFS-jQepl-zVlhjycME2fesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
  font-family: "Monda";
  font-style: normal;
  font-weight: 400;
  src: local("Monda Regular"), local("Monda-Regular"), url("https://fonts.gstatic.com/s/monda/v4/sk05J8GA1NvUxDnk43EgAQ.woff") format("woff");
}

body {
	font-family: Monda;
}

header {
	font-family: Monda, Helvetica, Arial, serif;
}

header h1 {
	font-size: 20pt;
}

header h2 {
	font-size: 16pt;
}

div.floatimage {
    background-color: #e5e5e5;
    padding: 5px;
    padding-bottom:5px;
    word-wrap: break-word;
    box-sizing: border-box;
    border: 1px solid {{site.bcolor}};
}

div.floatimage.right {
    float: right;
    margin-left: 15px;
    border-left: 5px solid {{site.bcolor}};
}

div.floatimage.left {
    float: left;
    margin-right: 15px;
    border-right: 5px solid {{site.bcolor}};
}

div.floatimage_title {
	text-align:center;
	padding:0;
	word-wrap: break-word;
	font-size: smaller;
}

#main-content p {
    text-align: justify;
    text-justify: inter-word;
    font-family: Georgia, Contantia, Serif;
    font-size:12pt;	
}

#main-content.no_sidebar {
	width: 100%;
}

#main-content h1, #main-content h2, #main-content h3, #main-content h4, #main-content h5 {
	font-family: "Monda";
	font-weight: bold;
}

#main-content h1::before, #main-content h2::before, #main-content h3::before, #main-content h4::before {
	content: none;
}

div.clear {
	clear: both;
}

div.site_footer_wrapper {
	background-color: #222;
	color: white;
	min-height:50px;
    display: table;
    width:100%;
}

div.site_footer {
	width: 940px;
	margin:auto;
	font-size: smaller;
	display: table;
}

div.site_footer a, div.site_footer a:visited, div.menu a, div.menu a:visited {
	color: orange;
}

div.menu a:hover {
	color:white;
}

div.site_footer div.column {
	width: 33%;
	padding:4px 10px;
	box-sizing: border-box;
    display: table-cell;
    height:50px;
    vertical-align: bottom;
}

div.site_footer div.column.left {
    text-align: left;
}

div.site_footer div.column.center {
    text-align: center;
}

div.site_footer div.column.right {
    text-align: right;
}

div.menubar_wrapper {
	background-color: black;
}

div.menubar {
    width: 940px;
    margin:auto;
    font-size: larger;
    display: table;
    color:white;
}

div.menu {
	float: left;
	display: table-cell;
	box-sizing: border-box;
	width:100px;
    padding:4px 5px;
}
