---
---
$orange: #AC7D28;
$darklink: #565683;
$red: #bb0000;
$blue: #0000bb;
$green: #00bb00;
$lightgrey: #c5c5c5;

/* header definitions (h1...h6 in main content only) */
$header_font: "Roboto Condensed";
/* base size for h1, others are calculated by subtracting 2pt per level */
$h1_base_size: 23;
$h1_bottom_margin: 10px;
$h1_letter_spacing: 0;
$header_weight: 400;
$header_color: #653;
$title_color: #7c795d;
$subheader_color: #bf994d;

/* float text definitions (p, li, quotes in main content only) */
$article_font: "PS Savoy";
$text_color: #333;
$text_size: 14pt;
$text_line_height: 125%;
$text_weight: 400;
$dropcaps_size: 34pt;
$dropcaps_leading: 30pt;
$dropcaps_top_padding: 4px;

$footnotes_fontsize: 11pt;
$h3_listheader_size: 16pt;

$floatbox_fontsize: 12pt;
$floatbox_color: #777;

$sans_font: "Lato";

$author_font_size: 13;
$author_font_color: #444;

$footer_font_size: 15px;
$base: '{{site.baseurl}}';

/*@import "font-monda";*/
/*@import "font-signika";*/
@import "font-roboto_condensed";
@import "font-lato";
@import "font-savoy";
/*@import "font-merriweather_sans";*/
/*@import "font-oswald";*/
/*@import "font-roboto_slab";*/
/*@import "font-vollkorn";*/
/*@import "font-cormorant_sc";*/
/*@import "font-cormorant";*/
/*@import "font-cormorant_infant";*/
/*@import "font-merriweather_serif";*/
/*@import "font-cormorant_regular";*/
@import "font-lora";
/*@import "font-pt_serif";*/
/*@import "font-source-serif";*/
@import "theme";
@import "images";
@import "paginator-trails";
@import "menu";
@import "google-cse";
@import "footer";
@import "share";
@import "customizations";
@import "content";

