@font-face { 
  font-family:"Breve Sans";
  font-style:normal;
  font-weight:300;
  src: url("https://subspace.cc/assets/fonts/Breve/Breve Sans Text Light.otf") format('opentype');
}

@font-face { 
  font-family:"Breve Sans";
  font-style:italic;
  font-weight:300;
  src: url("https://subspace.cc/assets/fonts/Breve/Breve Sans Text Light Italic.otf") format('opentype');
}

@font-face { 
  font-family:"Breve Sans";
  font-style:normal;
  font-weight:400;
  src: url("https://subspace.cc/assets/fonts/Breve/Breve Sans Text Book.otf") format('opentype');
}

@font-face { 
  font-family:"Breve Sans";
  font-style:normal;
  font-weight:700;
  src: url("https://subspace.cc/assets/fonts/Breve/Breve Sans Text Bold.otf") format('opentype');
}

@font-face { 
  font-family:"Breve Sans";
  font-style:italic;
  font-weight:400;
  src: url("https://subspace.cc/assets/fonts/Breve/Breve Sans Text Book Italic.otf") format('opentype');
}

@font-face { 
  font-family:"Breve Sans";
  font-style:italic;
  font-weight:700;
  src: url("https://subspace.cc/assets/fonts/Breve/Breve Sans Text Bold Italic.otf") format('opentype');
}

@font-face { 
  font-family:"Breve Sans";
  font-style:normal;
  font-weight:600;
  src: url("https://subspace.cc/assets/fonts/Breve/Breve Sans Text Semi Bold.otf") format('opentype');
}

@font-face { 
  font-family:"Breve Sans";
  font-style:italic;
  font-weight:600;
  src: url("https://subspace.cc/assets/fonts/Breve/Breve Sans Text Semi Bold Italic.otf") format('opentype');
}

@font-face {
  font-family:"Breve Sans";
  font-style:normal;
  font-weight:500;
  src: url("https://subspace.cc/assets/fonts/Breve/Breve Sans Text Medium.otf") format('opentype');
}

@font-face {
  font-family:"Breve Sans";
  font-style:italic;
  font-weight:500;
  src: url("https://subspace.cc/assets/fonts/Breve/Breve Sans Text Medium Italic.otf") format('opentype');
}

@font-face {
  font-family:"Allegra Sans SC";
  font-style:normal;
  font-weight:400;
  src: url("assets/AlegreyaSansSC-Regular.ttf") format('truetype');
}

@font-face {
  font-family:"Allegra Sans SC";
  font-style:bold;
  font-weight:700;
  src: url("assets/AlegreyaSansSC-Bold.ttf") format('truetype');
}

@font-face {
  font-family:"Allegra Sans SC";
  font-style:bold;
  font-weight:600;
  src: url("assets/AlegreyaSansSC-Medium.ttf") format('truetype');
}
kbd {
  line-height:1.3em;
}
article.md-typeset {
  font-size: 1.8em !important;
  font-family: "Breve Sans";
  line-height: 1.4em;
  font-weight: 300;
}

div.admonition > p:last-child, .md-typeset details > p:last-child, div.admonition li {
  font-size: 1.4em !important;
  line-height: 1.2em;
  font-weight: 300;
}
