@media (min-width:1025px) {
  section.pageheader h1 {
    border-bottom: 3px solid #a07020;
    border-radius: 0;
  }

  .page .sidebar-drawer { width: 20em; min-width: 20em; }
  .page .sidebar-container { width: 20em; }

  div.content {
    width: calc(100% - 20px); /* !important; */
    max-width: calc(100% - 20px); /* !important; */
    min-width: calc(100% - 20px); /* !important; */
    padding: 0 1em;}
  div.main {
    width: 100%;
    min-width: calc(100% - 20em - 20px);
    max-width: calc(100% - 20em - 20px);
  }
  .toc-drawer {
    display: none;
    box-sizing: border-box;
    width: 0;
  }
}

