@font-face {
	font-family: 'Iosvmata';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/_static/fonts/iosvmata/Iosvmata-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosvmata';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('/_static/fonts/iosvmata/Iosvmata-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Iosvmata';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('/_static/fonts/iosvmata/Iosvmata-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosvmata';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('/_static/fonts/iosvmata/Iosvmata-BoldItalic.ttf') format('truetype');
}

/* use Iosevka font for div.highlight pre only. */
/* for all else, use the standard monospaced font */
div.highlight pre {
  font-family: "Iosvmata" !important;
  font-weight: 400;
  font-size: 12pt;
  line-height: 110% !important;
  padding: 0 10px;
  overflow-y: hidden !important;
  padding-right: 5px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

code {
	font-family: "Iosvmata";
	font-size: 12pt !important;
	font-weight: 400 !important;
	/* color: white !important; */
	padding: 1px 3px !important;
}

div.code-block-caption {
	padding: 4px 10px;
}

div.code-block-caption span.caption-text {
	font-family: var(--font-stack--monospace);
	color: #206688;
	font-size: 13pt;
	font-weight: 600;
}

div.admonition p.admonition-title {
	font-family: var(--font-stack--monospace);
	font-size: 13pt;
	font-weight: 600;
}
p.admonition-title {
	padding-top: 10px !important;
	padding-bottom: 5px !important;
}

label.sd-tab-label {
	font-family: var(--font-stack--monospace);
	font-size: 12pt;
	font-weight: 600;
}
