header.mobile-header, a.sidebar-brand, .toc-title-container {
  background-color: #014590;
  border-bottom: 3px solid orange;
}

div.brand, a.sidebar-brand {
  font-family: "Allegra Sans SC";
  font-size: 18pt;
  font-weight: 600;
  color: orange;
}

