div.twocol {
  column-count: 2 !important;
  margin-top: 10px !important
}

div.twocol p {
  margin-block-start: 0 !important;
  margin-bottom: 1.4em !important;
}

div.centered {
  margin: 2em auto;
  text-align: center;
  width: 50% !important;
}

.bordered {
  border: 2px solid #444;
}

div.headline p {
  font-size: 120%;
  font-weight: 600;
  margin-left: 1em;
  color: #8080ff;
}

div.left-aligned {
  text-align: left !important;
}

dl.simple dt {
  font-size: 13.5pt;
  font-weight: 600;
  color: var(--color-foreground-muted);
  font-style: italic;
}
