div.twocol {
  column-count: 2 !important;
  margin-top: 10px !important
}

div.twocol p {
  margin-block-start: 0 !important;
  margin-bottom: 1.4em !important;
}

div.centered {
  margin: 2em auto;
  text-align: center;
  width: auto !important;
  display: inline-block;
}

.bordered {
  border: 2px solid #444;
}
