@media (min-width:1025px) {
  div.twocol {
    column-count: 2 !important;
    margin-top: 10px !important
  }

  div.twocol p {
    margin-block-start: 0 !important;
    margin-bottom: var(--p-line-spacing) !important;
  }
}

div.centered {
  margin: 2em auto;
  text-align: center;
  width: 50% !important;
}

div.floatblock {
  padding: 5px;
}

div.floatblock.left {
  float: left;
  margin-right: 10px;
}

div.floatblock p:first-child {
  margin-top: 0;
}

div.floatblock p:last-child {
  margin-bottom: 0;
}

.bordered {
  border: 2px solid #444;
}

.darkgreybg {
  background-color: #333;
}

.smallfont {
  font-size: 90%;
}

div.headline p {
  font-size: 120%;
  font-weight: 600;
  margin-left: 1em;
  color: #8080ff;
}

div.left-aligned p, p.left-aligned {
  text-align: left !important;
}

dl.simple dt, section dl dt {
  font-size: 13.8pt;
  font-weight: 600;
  color: var(--color-emph-special);
}

div.clearfix {
  clear: both;
}

div.left50 {
  margin-left: 50px;
}

div.container.gallery {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  justify-content: center;
  align-items: center;
  grid-gap: 0px;
}

div.container.gallery img {
  width: 10rem;
  height: 10rem;
}

div.container.gallery3 {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20em);
  justify-content: center;
  align-items: center;
  grid-gap: 0px;
}

div.container.gallery.portrait {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10em);
  justify-content: center;
  align-items: center;
  grid-gap: 0px;
}

div.container.gallery.landscape {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15em);
  justify-content: center;
  align-items: center;
  grid-gap: 0px;
}

div.container.gallery3 img {
  width: 20em;
  height: 20em;
}

div.container.gallery.portrait img {
  width: 10em;
  height: 15em;
}

div.container.gallery.landscape img {
  width: 16em;
  height: 7em;
}

@media (min-width:1025px) {
  div.narrow {
    width: 50em;
    margin: 0 auto;
  }
}
