
section h1, section h2, section h3, section h4, section h5 {
  margin-bottom: 2px;
  font-family: "Allegra Sans SC";
  margin-top: 1em;
  line-height: 1.0em;
  font-weight: 600 !important;
  color: #a07020 !important;
  margin-left: 20px;
}

section h5 {
  font-size: 1.3em !important;
  text-transform: none !important;
}

section h1 {
  font-size: 2.1em !important;
}

section h2 {
  font-size: 1.8em !important;
}

section h3 {
  font-size: 1.6em !important;
}

section h4 {
  font-size: 1.4em !important;
}

section h1 ~ p, section h2 ~ p, section h3 ~ p, section h4 ~ p {
  margin-block-start: 10px !important;
  hyphens: auto;
  text-align: justify !important;
  margin-block-start: 0 !important;
}

div.toc-tree a.reference, div.sidebar-tree a.reference {
  font-family: "Allegra Sans SC" !important;
  font-size: 12pt !important;
  color: #a07020 !important;
  font-weight: 600 !important;
  text-decoration: none;
}

div.toctree-wrapper.toctreeinline a.reference {
  font-family: "Allegra Sans SC" !important;
  font-size: 16pt !important;
  color: #a07020 !important;
  font-weight: 600 !important;
  text-decoration: none;
}

div.sidebar-tree p.caption, span.toc-title {
  font-size: 13pt !important;
  font-weight: 600 !important;
  color: white !important;
}

div.toctree-wrapper.toctreeinline p.caption {
  font-size: 16pt !important;
  font-weight: 400 !important;
  color: white !important;
}
/*
div.bd-sidebar-primary, div.bd-sidebar-secondary {
  padding: 5px !important;
}

div.bd-article-container {
  padding: 10px !important;
  padding-top: 0 !important;
}

article.bd-article {
  padding: 0 !important;
}
*/
p.prev-next-title {
  font-weight: 400 !important;
  font-size: 12pt !important;
}

@media (min-width:1025px) {
  .page .sidebar-drawer { width: 20em; min-width: 20em; }
  .page .sidebar-container { width: 20em; }
  div.content { 
    width: calc(100% - 20em - 20px) !important;
    max-width: calc(100% - 20em - 20px) !important;
    min-width: calc(100% - 20em - 20px) !important;
    padding: 0 1em;}
  div.main { 
    max-width: 100%; 
    width: 100%; 
    min-width: calc(100% - 17em);
  }
  .toc-drawer {
    box-sizing: border-box;
    width: 15em;
  }
}

img.align-left {
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 0;
}

img.align-right {
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 0;
}

