
section h1, section h2, section h3, section h4, section h5 {
  margin-bottom: 2px;
  font-family: "Allegra Sans SC";
  margin-top: 1em;
  line-height: 1.0em;
  font-weight: 600 !important;
  color: #a07020 !important;
  margin-left: 20px;
}

section h5 {
  font-size: 1.3em !important;
  text-transform: none !important;
}

section h1 {
  font-size: 1.9em !important;
  margin-bottom: 10px;
}

section.pageheader h1 {
  border-bottom: 3px solid #a07020;
  border-radius: 0;
}
section h2 {
  font-size: 1.7em !important;
}

section h3 {
  font-size: 1.5em !important;
}

section h4 {
  font-size: 1.4em !important;
}

section h1 ~ p, section h2 ~ p, section h3 ~ p, section h4 ~ p {
  margin-block-start: 10px !important;
  margin-block-start: 0 !important;
}

div.toc-tree a.reference, div.sidebar-tree a.reference {
  font-family: "Allegra Sans SC" !important;
  font-size: 12pt !important;
  color: #a07020 !important;
  font-weight: 600 !important;
  text-decoration: none;
}

div.toctree-wrapper.compound a.reference {
/*  font-family: "Allegra Sans SC" !important; */
  font-size: 14pt !important;
  color: #a07020 !important;
  font-weight: 600 !important;
  text-decoration: none;
}

div.sidebar-tree p.caption, span.toc-title {
  font-size: 13pt !important;
  font-weight: 600 !important;
  color: white !important;
}

div.toctree-wrapper.compound p.caption {
  font-size: 16pt !important;
  font-weight: 400 !important;
  color: white !important;
}
/*
div.bd-sidebar-primary, div.bd-sidebar-secondary {
  padding: 5px !important;
}

div.bd-article-container {
  padding: 10px !important;
  padding-top: 0 !important;
}

article.bd-article {
  padding: 0 !important;
}
*/
p.prev-next-title {
  font-weight: 400 !important;
  font-size: 12pt !important;
}

img.align-left, figure.align-left {
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

img.align-right, figure.align-right {
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

figure.align-right {
  margin-left: 1rem;
  margin-top: 0;
}

figure.align-left {
  margin-right: 1rem;
  margin-top: 0;
}

figure.align-left img.align-left {
  margin-right: 0;
}
figure.align-right img.align-right {
  margin-left: 0;
}

figure.align-left, figure.align-right, figure.align-center, figure.align-center-full {
  display: grid;
  grid-template-rows: repeat(auto-fit);
  grid-gap: 0;
}

figure.align-center, figure.align-center-full {
  margin-top: 10px;
  margin-bottom: 5px;
}
img.align-center, img.align-center-full {
  margin-bottom: 5px;
}

figure.align-left figcaption, figure.align-right figcaption, figure.align-center figcaption {
  text-align: center;
  justify-content: center;
  font-size: 90%;
  font-weight: 400;
  overflow-wrap: unset;
  white-space: nowrap;
  color: var(--color-foreground-special);
  line-height: 1.1em;
  max-height: 1.0em;
  padding-top: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
}


figcaption emph {
  font-weight: 300;
  color: var(--color-foreground-muted) !important;
  font-style: italic;
}

figure.align-center figcaption {
  margin-left: auto;
  margin-right: auto;
}

figure.align-center-full figcaption {
  text-align: center;
  justify-content: center;
  font-size: 90%;
  font-weight: 400;
  overflow-wrap: break-word;
  color: var(--color-foreground-special);
  line-height: 1.1em;
  padding-top: 4px;
  margin-left: auto;
  margin-right: auto;
}

div.content-icon-container {
  margin-bottom: 0;
}

a.reference.external:after {
  content: '';
  background: no-repeat left .25em center url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
  text-decoration: none;
  padding-right: .8em;
  padding-top: 10px;
  margin-left: -0.1em;
}

