<div class="blockimage {{include.borderclass}}">
{% unless include.nolink == 1 %}
<a href="{{ site.baseurl }}/assets/gfx/{{ include.image }}" data-fancybox data-caption="{{include.title}}">
{% endunless %}
<figure>
        <img src="{{ site.baseurl }}/assets/gfx/{{ include.image }}" alt="{{include.title}}" style="width:auto; max-width:100%; height:auto; margin:0 auto;display:block;" />
        {% if include.title and include.title != '' %}
        <figcaption style="display:none;">
                {{ include.title }}
        </figcaption>
        {% endif %}
</figure>
{% unless include.nolink == 1 %}    
</a>
{% endunless %}
{% if include.title and include.title != '' %}
<div class="floatimage_title" style="padding-bottom: 8px;">
    {{ include.title }}
</div>
{% endif %}
</div>
