<div class="blockimage">
{% unless include.nolink == 1 %}
<a href="{{ site.baseurl }}/assets/gfx/{{ include.image }}" data-fancybox="gallery" data-caption="{{include.title}}">
{% endunless %}
        <img src="{{ site.baseurl }}/assets/gfx/{{ include.image }}" alt="{{include.title}}" style="width:100%; max-width:100%; height:auto; margin:0;" />
{% unless include.nolink == 1 %}    
</a>
{% endunless %}
<div class="floatimage_title" style="padding-bottom: 8px;">
    {{ include.title }}
</div>
</div>
