{% assign this_width = include.width | plus: 16 %}
<div class="floatimage {{include.align}}" style="width:{{this_width}}px; max-width:{{this_width}}px;">
{% unless include.nolink == 1 %}
<a href="{{ include.image }}" data-fancybox="gallery">
{% endunless %}
	    <img src="{{ include.image }}" alt="{{include.title}}" style="width:{{include.width}}px; max-width:{{include.width}}px; height:auto; margin:0; display:inline;" />
{% unless include.nolink == 1 %}
</a>
{% endunless %}
<div class="floatimage_title">
    {{ include.title }}
</div>
</div>
