{% include site_header.html menu='default' custom_menu='' %}
    <div id="content-wrapper">
      <div class="inner clearfix">
        <div style="margin:0 20px;">
        {% if page.columns and page.columns > 1 %}
        <article id="main-content" style="column-count:{{page.columns}}; column-gap:20px;">
        {% else %}
        <article id="main-content">
        {% endif %}
        {{ content }}
        {% include content_footer.html %}
        {% if page.share and page.share == 1 %}
            {% include share_post.html %}
        {% endif %}
        {% if page.disqus and page.disqus == 1 %}
            {% include disqus_fragment.html %}
        {% endif %}
        </article>
        <aside id="sidebar">
          <h2>Recent</h2>
          {% include sidebar/sidebar_recent_posts.html count=6 list_cats=1 show_all=1 %}
          {% include sidebar/sidebar_tags.html %}
          {% include sidebar/quick_links.html %}
        </aside>
      </div>
     </div>
    </div>
    {% include site_footer.html %}
    {% if site.google_analytics %}
    {% include google_analytics.html %}
    {% endif %}
    {% include footer_scripts.html %}
  </body>
</html>
