{% include site_header.html menu='default' custom_menu='got' %}
    <div id="content-wrapper">
      <div class="inner clearfix">
        <div id="inner-content-wrapper" style="margin:0 20px;">
        {% if page.columns and page.columns > 1 %}
        <article id="main-content" style="column-count:{{page.columns}}; column-gap:20px;">
        {% else %}
        <article id="main-content">
        {% endif %}
        {{ content }}
        {% include content_footer.html %}
        {% if page.share != blank  %}
            {% include share_post.html %}
        {% endif %}
        {% if page.disqus != blank  %}
            {% include disqus_fragment.html %}
        {% endif %}
        </article>
        <aside id="sidebar">
        {% include sidebar/got_blog_recent.html %}
        {% include sidebar/got_theories_recent.html %}
          <hr class="blueline">
          <h2>Other categories</h2>
            <div class="two_cols">
                {% for category in site.categories %}
                    {% if category == 'GoT' %}
                        {% continue %}
                    {% endif %}
               <h3 class="text-ellipsis sidebar_listheader" style="margin-top: 0; margin-bottom: 10px;"><a href="{{site.baseurl}}/category/{{ category | first | strip_html | downcase}}/">{{ category | first | strip_html}}</a></h3>
            {% endfor %}
            </div>
         {% include sidebar/quick_links.html %}
        </aside>
      </div>
     </div>
    </div>
    {% include site_footer.html %}
    {% if site.google_analytics %}
    {% include google_analytics.html %}
    {% endif %}
    {% include footer_scripts.html %}
  </body>
</html>
