{% include site_header.html menu='default' custom_menu='' %}
    <div id="content-wrapper">
      <div class="inner clearfix">
        <div style="margin:0 20px;">
        {% if page.columns and page.columns > 1 %}
        <article id="main-content" style="column-count:{{page.columns}}; column-gap:20px;">
        {% else %}
        <article id="main-content">
        {% endif %}
        {{ content }}
        {% include content_footer.html %}
        {% if page.share and page.share == 1 %}
            {% include share_post.html %}
        {% endif %}
        {% if page.disqus and page.disqus == 1 %}
            {% include disqus_fragment.html %}
        {% endif %}
        </article>
        <aside id="sidebar">
          {% include sidebar/tags_content_recent.html %}
          {% include sidebar/sidebar_tags.html %}
          <hr class="blueline">
          <h2>All topics</h2>
          <h3 class="text-ellipsis sidebar_listheader"><a href="{{ site.baseurl }}/webdev">Web development</a></h3>
          <h3 class="text-ellipsis sidebar_listheader"><a href="{{ site.baseurl }}/software">Software</a></h3>
          <h3 class="text-ellipsis sidebar_listheader"><a href="{{ site.baseurl }}/tabsrmm">TabSRMM</a></h3>
          <h3 class="text-ellipsis sidebar_listheader"><a href="{{ site.baseurl }}/got-theories">Game of Thrones theories</a></h3>
          {% include sidebar/quick_links.html %}
          <br>
        </aside>
      </div>
     </div>
    </div>
    {% include site_footer.html %}
    {% if site.google_analytics %}
    {% include google_analytics.html %}
    {% endif %}
    {% include footer_scripts.html %}
  </body>
</html>

