{% include site_header.html menu='default' custom_menu='' %}
    <div id="content-wrapper">
      <div class="inner clearfix">
        <div id="inner-content-wrapper" style="margin:0 20px;">
        {% if page.columns and page.columns > 1 %}
        <article id="main-content" style="column-count:{{page.columns}}; column-gap:20px;">
        {% else %}
        <article id="main-content">
        {% endif %}
        {{ content }}
        {% include content_footer.html %}
        {% if page.share != blank  %}
            {% include share_post.html %}
        {% endif %}
        {% if page.disqus != blank  %}
            {% include disqus_fragment.html %}
        {% endif %}
        </article>
        <aside id="sidebar">
            <script>
                $(document).ready(function() {
                    $.ajax({
                        url: "{{site.baseurl}}/{{page.collection}}/sbar/",
                        context: document.body
                    }).done(function(data) {
                        var _html = data;
                        $.ajax({
                            url: "{{site.baseurl}}/sys/sbar_topics/",
                            context: document.body
                        }).done(function(data) {
                            _html = _html + '<hr class="blueline">' + data;
                            $('aside#sidebar').html(_html);
                            $('aside#sidebar time.timeago').timeago();
                        });
                    });
                });
                var _r_sidebarcontent = "{{site.baseurl}}/sys/sbar_topics/";
            </script>
            <noscript>
                some features require javaScript, particularly navigation menus and the side bar
            </noscript>
        </aside>
      </div>
     </div>
    </div>
    {% include site_footer.html %}
    {% if site.google_analytics %}
    {% include google_analytics.html %}
    {% endif %}
    {% include footer_scripts.html %}
  </body>
</html>
