<h2>Recent</h2>
 {% assign counter = 1 %}
 {% for post in site.posts %}
   {% if post.isfollowup and post.isfollowup == 1 %}
   {% continue %}
   {% endif %}
   <h3 style="margin-bottom:2px;"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
   <div class="author" style="float:right;">
     <span class="date">
        {% if post.modified %}       
        <time class="timeago" datetime="{{ post.modified | date: '%Y-%m-%dT%H:%M:%S%z' }}">{{ post.modified }}</time>
        {% else %}
        <time class="timeago" datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%S%z' }}">{{ post.date }}</time>
        {% endif %}
     </span>
   </div>
   <span class="author">
   {{post.author}}
   </span>
   <br>
   {% assign counter = counter | plus: 1 %}
   {% if counter > 20 %}
   {% break %}
   {% endif %}   
 {% endfor %}
<hr class="blueline">
<h2>Categories</h2>
{% for category in site.categories %}
   <h3><a href="{{site.baseurl}}/category/{{ category | first | strip_html | downcase}}/index.html">{{ category | first | strip_html | tolower}}</a></h3>
{% endfor %}
<hr class="blueline">
