 {% assign counter = 1 %}
 {% for post in site.posts %}
   {% if post.isfollowup and post.isfollowup == 1 %}
   {% continue %}
   {% endif %}
   <h3 class="text-ellipsis sidebar_listheader"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
   <div class="author" style="float:right;">
     <span class="date">
        {% if post.modified %}       
        <time class="timeago" datetime="{{ post.modified | date: '%Y-%m-%dT%H:%M:%S%z' }}">{{ post.modified }}</time>
        {% else %}
        <time class="timeago" datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%S%z' }}">{{ post.date }}</time>
        {% endif %}
     </span>
   </div>
   <span class="author">
   {{post.author}}
   </span>
   <br>
   {% assign counter = counter | plus: 1 %}
   {% if counter > include.count %}
   {% break %}
   {% endif %}   
 {% endfor %}
{% if include.list_cats %}
<hr class="blueline">
<h2>Categories</h2>
<div class="two_cols">
{% for category in site.categories %}
   <h3 class="text-ellipsis sidebar_listheader" style="margin-top: 0; margin-bottom: 10px;"><a href="{{site.baseurl}}/category/{{ category | first | strip_html | downcase}}/">{{ category | first | strip_html | tolower}}</a></h3>
{% endfor %}
</div>
<hr class="blueline">
{% endif %}