 {% assign counter = 1 %}
 {% assign this_posts = site.posts | where: "tags", "first" | sort: 'modified' | reverse %}
 {% for post in this_posts %}
   {% assign ttags = post.tags | join:'|' | append:'|' %}
   {% if post.isfollowup and post.isfollowup == 1 %}
   {% continue %}
   {% endif %}
   <h3 class="text-ellipsis sidebar_listheader"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
   <div class="author" style="float:right;">
     <span class="date">
        {% if post.modified %}
        <time class="timeago" datetime="{{ post.modified | date: '%Y-%m-%dT%H:%M:%S%z' }}">{{ post.modified }}</time>
        {% else %}
        <time class="timeago" datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%S%z' }}">{{ post.date }}</time>
        {% endif %}
     </span>
   </div>
   <span class="author">
   {{post.author}}
   </span>
   <br>
   {% assign counter = counter | plus: 1 %}
   {% if counter > include.count %}
   {% break %}
   {% endif %}
 {% endfor %}
 {% if include.show_all %}
  <div style="float:right;margin: 5px 0;"><a href="{{site.baseurl}}/blog/">Show all blog posts</a></div>
  <div class="clear"></div>
 {% endif %}
 {% if include.list_cats %}
<hr class="blueline">
<h2>Categories</h2>
<div class="two_cols">
{% for category in site.categories %}
   <h3 class="text-ellipsis sidebar_listheader" style="margin-top: 0; margin-bottom: 10px;"><a href="{{site.baseurl}}/category/{{ category | first | strip_html | downcase}}/">{{ category | first | strip_html | tolower}}</a></h3>
{% endfor %}
</div>
{% endif %}

