.highlight pre { line-height: 125%; }
.highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #fdf2e2 }
.highlight { background: #f2f2f2; color: #1E1E1E }
.highlight .c { color: #515151 } /* Comment */
.highlight .err { color: #D71835 } /* Error */
.highlight .k { color: #8045E5 } /* Keyword */
.highlight .l { color: #7F4707 } /* Literal */
.highlight .n { color: #1E1E1E } /* Name */
.highlight .o { color: #163 } /* Operator */
.highlight .p { color: #1E1E1E } /* Punctuation */
.highlight .ch { color: #515151 } /* Comment.Hashbang */
.highlight .cm { color: #515151 } /* Comment.Multiline */
.highlight .cp { color: #515151 } /* Comment.Preproc */
.highlight .cpf { color: #515151 } /* Comment.PreprocFile */
.highlight .c1 { color: #515151 } /* Comment.Single */
.highlight .cs { color: #515151 } /* Comment.Special */
.highlight .gd { color: #00749C } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #00749C } /* Generic.Heading */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #00749C } /* Generic.Subheading */
.highlight .kc { color: #8045E5 } /* Keyword.Constant */
.highlight .kd { color: #8045E5 } /* Keyword.Declaration */
.highlight .kn { color: #8045E5 } /* Keyword.Namespace */
.highlight .kp { color: #8045E5 } /* Keyword.Pseudo */
.highlight .kr { color: #8045E5 } /* Keyword.Reserved */
.highlight .kt { color: #7F4707 } /* Keyword.Type */
.highlight .ld { color: #7F4707 } /* Literal.Date */
.highlight .m { color: #7F4707 } /* Literal.Number */
.highlight .s { color: #163 } /* Literal.String */
.highlight .na { color: #7F4707 } /* Name.Attribute */
.highlight .nb { color: #7F4707 } /* Name.Builtin */
.highlight .nc { color: #00749C } /* Name.Class */
.highlight .no { color: #00749C } /* Name.Constant */
.highlight .nd { color: #7F4707 } /* Name.Decorator */
.highlight .ni { color: #163 } /* Name.Entity */
.highlight .ne { color: #8045E5 } /* Name.Exception */
.highlight .nf { color: #00749C } /* Name.Function */
.highlight .nl { color: #7F4707 } /* Name.Label */
.highlight .nn { color: #1E1E1E } /* Name.Namespace */
.highlight .nx { color: #1E1E1E } /* Name.Other */
.highlight .py { color: #00749C } /* Name.Property */
.highlight .nt { color: #00749C } /* Name.Tag */
.highlight .nv { color: #D71835 } /* Name.Variable */
.highlight .ow { color: #8045E5 } /* Operator.Word */
.highlight .pm { color: #1E1E1E } /* Punctuation.Marker */
.highlight .w { color: #1E1E1E } /* Text.Whitespace */
.highlight .mb { color: #7F4707 } /* Literal.Number.Bin */
.highlight .mf { color: #7F4707 } /* Literal.Number.Float */
.highlight .mh { color: #7F4707 } /* Literal.Number.Hex */
.highlight .mi { color: #7F4707 } /* Literal.Number.Integer */
.highlight .mo { color: #7F4707 } /* Literal.Number.Oct */
.highlight .sa { color: #163 } /* Literal.String.Affix */
.highlight .sb { color: #163 } /* Literal.String.Backtick */
.highlight .sc { color: #163 } /* Literal.String.Char */
.highlight .dl { color: #163 } /* Literal.String.Delimiter */
.highlight .sd { color: #163 } /* Literal.String.Doc */
.highlight .s2 { color: #163 } /* Literal.String.Double */
.highlight .se { color: #163 } /* Literal.String.Escape */
.highlight .sh { color: #163 } /* Literal.String.Heredoc */
.highlight .si { color: #163 } /* Literal.String.Interpol */
.highlight .sx { color: #163 } /* Literal.String.Other */
.highlight .sr { color: #D71835 } /* Literal.String.Regex */
.highlight .s1 { color: #163 } /* Literal.String.Single */
.highlight .ss { color: #00749C } /* Literal.String.Symbol */
.highlight .bp { color: #7F4707 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #00749C } /* Name.Function.Magic */
.highlight .vc { color: #D71835 } /* Name.Variable.Class */
.highlight .vg { color: #D71835 } /* Name.Variable.Global */
.highlight .vi { color: #D71835 } /* Name.Variable.Instance */
.highlight .vm { color: #7F4707 } /* Name.Variable.Magic */
.highlight .il { color: #7F4707 } /* Literal.Number.Integer.Long */
@media not print {
body[data-theme="dark"] .highlight pre { line-height: 125%; }
body[data-theme="dark"] .highlight td.linenos .normal { color: #707090; background-color: transparent; padding-left: 5px; padding-right: 5px; }
body[data-theme="dark"] .highlight span.linenos { color: #707090; background-color: transparent; padding-left: 5px; padding-right: 5px; }
body[data-theme="dark"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
body[data-theme="dark"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
body[data-theme="dark"] .highlight .hll { background-color: #ffffcc }
body[data-theme="dark"] .highlight { background: #15151a; }
body[data-theme="dark"] .highlight .c { color: #6A737D; font-style: italic } /* Comment */
body[data-theme="dark"] .highlight .err { color: #A61717; background-color: #E3D2D2; border: 1px solid #F00 } /* Error */
body[data-theme="dark"] .highlight .k { color: #B16286; font-weight: bold } /* Keyword */
body[data-theme="dark"] .highlight .l { color: #032F62 } /* Literal */
body[data-theme="dark"] .highlight .n { color: #999 } /* Name */
body[data-theme="dark"] .highlight .o { color: #805010; font-weight: bold } /* Operator */
body[data-theme="dark"] .highlight .p { color: #9090BB; font-weight: bold } /* Punctuation */
body[data-theme="dark"] .highlight .ch { color: #6A737D; font-style: italic } /* Comment.Hashbang */
body[data-theme="dark"] .highlight .cm { color: #6A737D; font-style: italic } /* Comment.Multiline */
body[data-theme="dark"] .highlight .cp { color: #007020 } /* Comment.Preproc */
body[data-theme="dark"] .highlight .cpf { color: #6A737D; font-style: italic } /* Comment.PreprocFile */
body[data-theme="dark"] .highlight .c1 { color: #6A737D; font-style: italic } /* Comment.Single */
body[data-theme="dark"] .highlight .cs { color: #999; font-weight: bold; font-style: italic; background-color: #FFF0F0 } /* Comment.Special */
body[data-theme="dark"] .highlight .gd { color: #A00000; background-color: #FDD } /* Generic.Deleted */
body[data-theme="dark"] .highlight .ge { font-style: italic } /* Generic.Emph */
body[data-theme="dark"] .highlight .gr { color: #A00 } /* Generic.Error */
body[data-theme="dark"] .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body[data-theme="dark"] .highlight .gi { color: #00A000; background-color: #DFD } /* Generic.Inserted */
body[data-theme="dark"] .highlight .go { color: #333 } /* Generic.Output */
body[data-theme="dark"] .highlight .gp { color: #C65D09; font-weight: bold } /* Generic.Prompt */
body[data-theme="dark"] .highlight .gs { font-weight: bold } /* Generic.Strong */
body[data-theme="dark"] .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body[data-theme="dark"] .highlight .gt { color: #0040D0 } /* Generic.Traceback */
body[data-theme="dark"] .highlight .kc { color: #B16286; font-weight: bold } /* Keyword.Constant */
body[data-theme="dark"] .highlight .kd { color: #B16286; font-weight: bold } /* Keyword.Declaration */
body[data-theme="dark"] .highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
body[data-theme="dark"] .highlight .kp { color: #007020; font-weight: bold } /* Keyword.Pseudo */
body[data-theme="dark"] .highlight .kr { color: #772050; font-weight: bold } /* Keyword.Reserved */
body[data-theme="dark"] .highlight .kt { color: #772088 } /* Keyword.Type */
body[data-theme="dark"] .highlight .ld { color: #032F62 } /* Literal.Date */
body[data-theme="dark"] .highlight .m { color: #208050 } /* Literal.Number */
body[data-theme="dark"] .highlight .s { color: #88872A } /* Literal.String */
body[data-theme="dark"] .highlight .na { color: #008080 } /* Name.Attribute */
body[data-theme="dark"] .highlight .nb { color: #0086B3 } /* Name.Builtin */
body[data-theme="dark"] .highlight .nc { color: #458 } /* Name.Class */
body[data-theme="dark"] .highlight .no { color: #008080 } /* Name.Constant */
body[data-theme="dark"] .highlight .nd { color: #555; font-weight: bold } /* Name.Decorator */
body[data-theme="dark"] .highlight .ni { color: #800080; font-weight: bold } /* Name.Entity */
body[data-theme="dark"] .highlight .ne { color: #900; font-weight: bold } /* Name.Exception */
body[data-theme="dark"] .highlight .nf { color: #308899 } /* Name.Function */
body[data-theme="dark"] .highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
body[data-theme="dark"] .highlight .nn { color: #708422; font-weight: bold } /* Name.Namespace */
body[data-theme="dark"] .highlight .nx { color: #999 } /* Name.Other */
body[data-theme="dark"] .highlight .py { color: #999 } /* Name.Property */
body[data-theme="dark"] .highlight .nt { color: #22863A; font-weight: bold } /* Name.Tag */
body[data-theme="dark"] .highlight .nv { color: #999 } /* Name.Variable */
body[data-theme="dark"] .highlight .ow { color: #805010; font-weight: bold } /* Operator.Word */
body[data-theme="dark"] .highlight .pm { color: #9090BB; font-weight: bold } /* Punctuation.Marker */
body[data-theme="dark"] .highlight .w { color: #BBB } /* Text.Whitespace */
body[data-theme="dark"] .highlight .mb { color: #40804F } /* Literal.Number.Bin */
body[data-theme="dark"] .highlight .mf { color: #40804F } /* Literal.Number.Float */
body[data-theme="dark"] .highlight .mh { color: #40804F } /* Literal.Number.Hex */
body[data-theme="dark"] .highlight .mi { color: #40804F } /* Literal.Number.Integer */
body[data-theme="dark"] .highlight .mo { color: #40804F } /* Literal.Number.Oct */
body[data-theme="dark"] .highlight .sa { color: #88872A } /* Literal.String.Affix */
body[data-theme="dark"] .highlight .sb { color: #88872A } /* Literal.String.Backtick */
body[data-theme="dark"] .highlight .sc { color: #88872A } /* Literal.String.Char */
body[data-theme="dark"] .highlight .dl { color: #88872A } /* Literal.String.Delimiter */
body[data-theme="dark"] .highlight .sd { color: #88872A; font-style: italic } /* Literal.String.Doc */
body[data-theme="dark"] .highlight .s2 { color: #88872A } /* Literal.String.Double */
body[data-theme="dark"] .highlight .se { color: #88872A; font-weight: bold } /* Literal.String.Escape */
body[data-theme="dark"] .highlight .sh { color: #88872A } /* Literal.String.Heredoc */
body[data-theme="dark"] .highlight .si { color: #88872A; font-style: italic } /* Literal.String.Interpol */
body[data-theme="dark"] .highlight .sx { color: #88872A } /* Literal.String.Other */
body[data-theme="dark"] .highlight .sr { color: #009926 } /* Literal.String.Regex */
body[data-theme="dark"] .highlight .s1 { color: #88872A } /* Literal.String.Single */
body[data-theme="dark"] .highlight .ss { color: #990073 } /* Literal.String.Symbol */
body[data-theme="dark"] .highlight .bp { color: #999 } /* Name.Builtin.Pseudo */
body[data-theme="dark"] .highlight .fm { color: #06287E } /* Name.Function.Magic */
body[data-theme="dark"] .highlight .vc { color: #008080 } /* Name.Variable.Class */
body[data-theme="dark"] .highlight .vg { color: #008080 } /* Name.Variable.Global */
body[data-theme="dark"] .highlight .vi { color: #008080 } /* Name.Variable.Instance */
body[data-theme="dark"] .highlight .vm { color: #BB60D5 } /* Name.Variable.Magic */
body[data-theme="dark"] .highlight .il { color: #099 } /* Literal.Number.Integer.Long */
@media (prefers-color-scheme: dark) {
body:not([data-theme="light"]) .highlight pre { line-height: 125%; }
body:not([data-theme="light"]) .highlight td.linenos .normal { color: #707090; background-color: transparent; padding-left: 5px; padding-right: 5px; }
body:not([data-theme="light"]) .highlight span.linenos { color: #707090; background-color: transparent; padding-left: 5px; padding-right: 5px; }
body:not([data-theme="light"]) .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
body:not([data-theme="light"]) .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
body:not([data-theme="light"]) .highlight .hll { background-color: #ffffcc }
body:not([data-theme="light"]) .highlight { background: #15151a; }
body:not([data-theme="light"]) .highlight .c { color: #6A737D; font-style: italic } /* Comment */
body:not([data-theme="light"]) .highlight .err { color: #A61717; background-color: #E3D2D2; border: 1px solid #F00 } /* Error */
body:not([data-theme="light"]) .highlight .k { color: #B16286; font-weight: bold } /* Keyword */
body:not([data-theme="light"]) .highlight .l { color: #032F62 } /* Literal */
body:not([data-theme="light"]) .highlight .n { color: #999 } /* Name */
body:not([data-theme="light"]) .highlight .o { color: #805010; font-weight: bold } /* Operator */
body:not([data-theme="light"]) .highlight .p { color: #9090BB; font-weight: bold } /* Punctuation */
body:not([data-theme="light"]) .highlight .ch { color: #6A737D; font-style: italic } /* Comment.Hashbang */
body:not([data-theme="light"]) .highlight .cm { color: #6A737D; font-style: italic } /* Comment.Multiline */
body:not([data-theme="light"]) .highlight .cp { color: #007020 } /* Comment.Preproc */
body:not([data-theme="light"]) .highlight .cpf { color: #6A737D; font-style: italic } /* Comment.PreprocFile */
body:not([data-theme="light"]) .highlight .c1 { color: #6A737D; font-style: italic } /* Comment.Single */
body:not([data-theme="light"]) .highlight .cs { color: #999; font-weight: bold; font-style: italic; background-color: #FFF0F0 } /* Comment.Special */
body:not([data-theme="light"]) .highlight .gd { color: #A00000; background-color: #FDD } /* Generic.Deleted */
body:not([data-theme="light"]) .highlight .ge { font-style: italic } /* Generic.Emph */
body:not([data-theme="light"]) .highlight .gr { color: #A00 } /* Generic.Error */
body:not([data-theme="light"]) .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body:not([data-theme="light"]) .highlight .gi { color: #00A000; background-color: #DFD } /* Generic.Inserted */
body:not([data-theme="light"]) .highlight .go { color: #333 } /* Generic.Output */
body:not([data-theme="light"]) .highlight .gp { color: #C65D09; font-weight: bold } /* Generic.Prompt */
body:not([data-theme="light"]) .highlight .gs { font-weight: bold } /* Generic.Strong */
body:not([data-theme="light"]) .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body:not([data-theme="light"]) .highlight .gt { color: #0040D0 } /* Generic.Traceback */
body:not([data-theme="light"]) .highlight .kc { color: #B16286; font-weight: bold } /* Keyword.Constant */
body:not([data-theme="light"]) .highlight .kd { color: #B16286; font-weight: bold } /* Keyword.Declaration */
body:not([data-theme="light"]) .highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
body:not([data-theme="light"]) .highlight .kp { color: #007020; font-weight: bold } /* Keyword.Pseudo */
body:not([data-theme="light"]) .highlight .kr { color: #772050; font-weight: bold } /* Keyword.Reserved */
body:not([data-theme="light"]) .highlight .kt { color: #772088 } /* Keyword.Type */
body:not([data-theme="light"]) .highlight .ld { color: #032F62 } /* Literal.Date */
body:not([data-theme="light"]) .highlight .m { color: #208050 } /* Literal.Number */
body:not([data-theme="light"]) .highlight .s { color: #88872A } /* Literal.String */
body:not([data-theme="light"]) .highlight .na { color: #008080 } /* Name.Attribute */
body:not([data-theme="light"]) .highlight .nb { color: #0086B3 } /* Name.Builtin */
body:not([data-theme="light"]) .highlight .nc { color: #458 } /* Name.Class */
body:not([data-theme="light"]) .highlight .no { color: #008080 } /* Name.Constant */
body:not([data-theme="light"]) .highlight .nd { color: #555; font-weight: bold } /* Name.Decorator */
body:not([data-theme="light"]) .highlight .ni { color: #800080; font-weight: bold } /* Name.Entity */
body:not([data-theme="light"]) .highlight .ne { color: #900; font-weight: bold } /* Name.Exception */
body:not([data-theme="light"]) .highlight .nf { color: #308899 } /* Name.Function */
body:not([data-theme="light"]) .highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
body:not([data-theme="light"]) .highlight .nn { color: #708422; font-weight: bold } /* Name.Namespace */
body:not([data-theme="light"]) .highlight .nx { color: #999 } /* Name.Other */
body:not([data-theme="light"]) .highlight .py { color: #999 } /* Name.Property */
body:not([data-theme="light"]) .highlight .nt { color: #22863A; font-weight: bold } /* Name.Tag */
body:not([data-theme="light"]) .highlight .nv { color: #999 } /* Name.Variable */
body:not([data-theme="light"]) .highlight .ow { color: #805010; font-weight: bold } /* Operator.Word */
body:not([data-theme="light"]) .highlight .pm { color: #9090BB; font-weight: bold } /* Punctuation.Marker */
body:not([data-theme="light"]) .highlight .w { color: #BBB } /* Text.Whitespace */
body:not([data-theme="light"]) .highlight .mb { color: #40804F } /* Literal.Number.Bin */
body:not([data-theme="light"]) .highlight .mf { color: #40804F } /* Literal.Number.Float */
body:not([data-theme="light"]) .highlight .mh { color: #40804F } /* Literal.Number.Hex */
body:not([data-theme="light"]) .highlight .mi { color: #40804F } /* Literal.Number.Integer */
body:not([data-theme="light"]) .highlight .mo { color: #40804F } /* Literal.Number.Oct */
body:not([data-theme="light"]) .highlight .sa { color: #88872A } /* Literal.String.Affix */
body:not([data-theme="light"]) .highlight .sb { color: #88872A } /* Literal.String.Backtick */
body:not([data-theme="light"]) .highlight .sc { color: #88872A } /* Literal.String.Char */
body:not([data-theme="light"]) .highlight .dl { color: #88872A } /* Literal.String.Delimiter */
body:not([data-theme="light"]) .highlight .sd { color: #88872A; font-style: italic } /* Literal.String.Doc */
body:not([data-theme="light"]) .highlight .s2 { color: #88872A } /* Literal.String.Double */
body:not([data-theme="light"]) .highlight .se { color: #88872A; font-weight: bold } /* Literal.String.Escape */
body:not([data-theme="light"]) .highlight .sh { color: #88872A } /* Literal.String.Heredoc */
body:not([data-theme="light"]) .highlight .si { color: #88872A; font-style: italic } /* Literal.String.Interpol */
body:not([data-theme="light"]) .highlight .sx { color: #88872A } /* Literal.String.Other */
body:not([data-theme="light"]) .highlight .sr { color: #009926 } /* Literal.String.Regex */
body:not([data-theme="light"]) .highlight .s1 { color: #88872A } /* Literal.String.Single */
body:not([data-theme="light"]) .highlight .ss { color: #990073 } /* Literal.String.Symbol */
body:not([data-theme="light"]) .highlight .bp { color: #999 } /* Name.Builtin.Pseudo */
body:not([data-theme="light"]) .highlight .fm { color: #06287E } /* Name.Function.Magic */
body:not([data-theme="light"]) .highlight .vc { color: #008080 } /* Name.Variable.Class */
body:not([data-theme="light"]) .highlight .vg { color: #008080 } /* Name.Variable.Global */
body:not([data-theme="light"]) .highlight .vi { color: #008080 } /* Name.Variable.Instance */
body:not([data-theme="light"]) .highlight .vm { color: #BB60D5 } /* Name.Variable.Magic */
body:not([data-theme="light"]) .highlight .il { color: #099 } /* Literal.Number.Integer.Long */
}
}